.main{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.leftCol{
    width: 65%;
    max-width: 65%;
    margin: 0;
    h1{
        font-size: 100px;
    }
    h2{
        font-size: 80px;
    }
    .icons{
        font-size: 30px;
        i{
            margin-right: 20px;
            color: #7e7e7e !important;
        }
        
        i:hover{
            color: #101010 !important;
        }

    }
}

.rightCol{
    width: 35%;
    max-width: 35%;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: none;
        color: inherit !important;
    }

    h1{
        margin-bottom: 0 !important;
        i{
            font-family: 'bootstrap-icons' !important;
            font-style: normal;
            font-weight: normal !important;
            font-variant: normal;
            text-transform: none;
            font-size: 50px;
            margin: 0 30px;
        }

        .projects::before{
            transition: all 200ms ease;
            content: '\F362' ;
            padding: 15%;
        }
        .projects:hover::before{
            background-color: #101010;
            color: #fafafa;
            padding: 15%;
        }

        .about::before{
            transition: all 200ms ease;
            content: '\F4E1' ;
            padding: 15%;
        }
        .about:hover::before{
            background-color: #101010;
            color: #fafafa;
            padding: 15%;
        }
        
        .envelope::before{
            transition: all 200ms ease;
            content: '\F68C';
            padding: 15%;
        }
        .envelope:hover::before{
            background-color: #101010;
            color: #fafafa;
            padding: 15%;
        }
    }
}
